input {
  color: #49585A;
  background-color: #F09100;
  width: 250px;
  height: 50px;
  outline: none;
  border: none;
  border-radius: 5px;
}
input[type="radio"] {
  width: 20px;
  height: 20px;
}
button , #keep-buying {
  color: #49585A;
  background-color: #D5DDD5;
  margin-left: 20px;
  border: none;
  width: 70px;
  height: 50px;
  border-radius: 5px;
  }
  form {
    text-align: center;
    margin: auto;
    margin-top: 20px;
    width: 100%;
    height: 400px;
  }
  footer {
    margin-top: 300px;
    margin-bottom: 0px;
  }
  .info-container {
    width: 60%;
  }
  .name-and-price {
    margin: auto;
    margin-top: 5px;
    display: flex;
    width: 90%;
    height: 55px;
    border-bottom: 2px solid #F09100;
  }
  
  .short-container {
    width: 30%;
    height: 300px;
    margin-top: 150px;
  }
  .short-container-login {
    width: 30%;
    height: 220px;
    margin-top: 150px;
}

.material-symbols-outlined {
    font-size: 30px;
}
.cart {
  width: 70%;
  height: 40px;
  border: none;
  background-color:#F09100;
}

.hidden {
  display: none;
}
.filters {
  width: 100px;
  margin-left: 20px;
}
.no-stock-h1 {
  font-size: 6vw;
  border-radius: 10px;
  padding-top: 25px;
  margin: auto;
  text-align: center;
  object-position: center;
  margin-top: 200px;
  width: 50%;
  height: 23vw;
  color: #49585A;
  background-color: orange;
  box-shadow: 10px 10px 10px -2px rgba(0,0,0,0.34);
-webkit-box-shadow: 10px 10px 10px -2px rgba(0,0,0,0.34);
-moz-box-shadow: 10px 10px 10px -2px rgba(0,0,0,0.34);
}

.conteinerProduct {
  display: inline-block;
  margin: 10px;
  margin-top: 15px;
  margin-bottom: 15px;
  width: 300px;
  height: 450px;
}
.card {
  height: 100%;
  width: 100%;
}
.card-body {
  margin-top: 10px;
  height: 450px;
}
.card-title {
  color: #222222;
}
.amount-inp {
  width: 90px;
  height: 40px;
}
.conteinerProduct-cart {
  height: 520px;
}
.total-amount {
  color:  #222222;
}
.dropdown {
  position: relative;
  display: inline-block;
}

#menu {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content button {
  display: block;
  width: 100%;
  text-align: left;
  padding: 10px;
  background-color: #fff;
  border: none;
}

#showMenu {
  background-color: #4CAF50;
  color: white;
  border: none;
}

#showMenu:hover {
  background-color: #45a049;
}

#container {
  text-align: center;
}
#filter-btn {
margin: auto;
margin-top: 0px;
}
#search-section {
  display: flex;
  margin: auto;
  margin-top: 70px;
  height: 70px;
  width: 50%;
  text-align: center;
}
#sold-and-btn-container {
  width: 100%;
  height: 50px;
}


/* carrito*/

h1 {
  margin-top: 20px;
  margin-bottom: 50px;
  text-align: center;
}
#keep-buying {
  height: 50px;
  width: 100px;
  text-decoration: none;
  text-align: center;
  margin: auto;
  margin-left: 20px;
}
#finish-buy {
  margin-left: 0px;
  margin: auto;
  margin-right: 20px;
  background-color: #F09100;
}
#user-controls {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  height: 100px;
  width: 100%;
  margin: auto;
  margin-top: 50px;
}

@media (max-width: 1000px) {
  html {
    width: 100%;
  }
body {
  width: 100%;
}
main {
  width: 100%;
}
.product-list {
  margin-bottom: 0px;
  height: 120px;
  flex-wrap: nowrap;
}
.product-list h2 {
  font-size: 14px;
}
.product-list p {
  font-size: 10px;
  margin-top: 0px;
  margin: none;
}
.name-and-price {
  margin-top: 0px;
  width: 100%;
  height: 35px;
}
input {
  width:300px;
  font-size: 12px;
}
button {
  font-size: 12px;
}
.filters {
  width: 50px;
  margin-left: 20px;
}
#search-section {
  flex-wrap:wrap ;
  height: 180px;
  width: 100%;
}
#filter-btn {
  width: 50px;
  margin-left: 10px;
}
}