input {
  color: #49585A;
  background-color: #F09100;
  width: 300px;
  height: 50px;
  outline: none;
  border: none;
  border-radius: 5px;
}

button {
  color: #49585A;
  background-color: #D5DDD5;
  margin-left: 20px;
  border: none;
  width: 70px;
  height: 50px;
  border-radius: 5px;
  }
  
  .info-container {
    width: 60%;
  }
  .name-and-price {
    margin: auto;
    margin-top: 5px;
    display: flex;
    width: 90%;
    height: 55px;
    border-bottom: 2px solid #F09100;
  }

  .conteinerProduct {
    display: inline-block;
    margin: 10px;
    margin-top: 20px;
    width: 300px;
    height: 30vh;
  }

  

@media (max-width: 1000px) {
  body {
  main {
    width: 100%;
  }
  .product-list {
    margin-bottom: 0px;
    height: 120px;
    flex-wrap: nowrap;
  }
  .product-list h2 {
    font-size: 14px;
  }
  .product-list p {
    font-size: 10px;
    margin-top: 0px;
    margin: none;
  }
  .name-and-price {
    margin-top: 0px;
    width: 100%;
    height: 35px;
  }
  input {
    width:300px;
    font-size: 12px;
  }
  button {
    font-size: 12px;
  }
  .filters {
    width: 50px;
    margin-left: 20px;
  }
  .cart {
    display: none;
  }
  #search-section {
    width: 90%;
  }
  #filter-btn {
    width: 50px;
    margin-left: 10px;
  }
}
}