main {
    text-align: center;
}
h1 {
    font-size: 50px;
    margin: auto;
    margin-bottom: 30px;
    background-color:rgb(217, 171, 64);
}
img {
    border-radius: 50%;
    width: 300px;
    height: 300px;
    margin-bottom: 20px;
    object-fit: cover;
}
button , input {
    font-size: 20px;
    border-radius: 5px;
    border: none;
    outline: none;
    width:200px;
    height: 50px;
    margin: auto;
    background-color: rgb(217, 171, 64);
}
.modal-input {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%);
    background-color: rgb(109, 103, 103);
    border-radius: 12px;
    width: 500px;
    height: 300px;
}